# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Dependencies
backend/venv/

# Node
node_modules/
dist/
build/
.DS_Store

# Project specific
backend/uploads/
backend/outputs/
backend/*.rpt
backend/*.pdf
backend/*.png
backend/*.xlsx

# Logs
*.log
